* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #333;
}

.contain{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    padding-left: 250px;
}

.order-table h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    padding: 10px;
}

.order-container {
    background: #fff; 
    padding: 10px;
    border-radius: 1px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 98%;
    height: 100%;
    position: relative;
    top: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
}

.order-table table th {
    background: #005281;
    color: #ffffff;
    padding: 5px 15px;
    font-size: 16px;
}

.order-table table td {
    padding: 20px 10px;
    text-align: center;
    font-size: 15px;
}

.order-table table tr{
    border-bottom:1px solid lightgray;
}

.order-table table tr:hover {
    background-color: #00c3ff10;
}

.order-table table tr:nth-child(even) {
    background-color: #ccdfffd3; 
}

.order-table table tr:nth-child(odd) {
    background-color: #ffffff; 
}

#updateStatus {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: white;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
    padding: 20px;
    width: 30%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    margin-left: 245px;
}

form h3{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn{
    margin-left: auto;
}

.items{
    padding: 8px 15px;
    font-weight: bold;
    background-color: rgb(0, 120, 233);
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.items:hover{
    background-color: rgba(0, 45, 143, 0.521);
}

.update{
    padding: 8px 10px;
    font-weight: bold;
    background-color: rgb(0, 207, 0);
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: black;
}

.update:hover{
    background-color: rgb(0, 151, 0);
}

.deliveryStatus{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.deliveryStatus .status-button{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(135deg, #3f51b5, #5c6bc0);
}


.status-button:hover {
    opacity: 0.85;
    transform: scale(1.05);
} 

.order-table table tr:hover {
    background-color: #a2b3ff9a;
}