* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #333;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 62vh;
    max-width: 100%;
    overflow: hidden;
    top: 78px;
}

.slide {
    position: absolute;
    margin-bottom: -16px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    height: 100%;
}

.slide.active {
    opacity: 1;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slogan-contain {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    background-color: black;
    color: orangered;
    font-size: 14px;
    font-weight: bold;
    padding: 1px;
    margin-top: -3px;
}

.slogan {
    transform: translateX(100%);
    animation: scrollRight 30s linear infinite;
}

@keyframes scrollRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.column1 {
    position: relative;
    margin-top: 5%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 60px;
    margin-left: 30px;
    margin-right: 30px;
    top: 80px;
}

.column img {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 20px;
    border-radius: 5%;
    box-shadow: 20px 4px 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    max-width: 600px;
    max-height: 600px;
}

.column p {
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}

.column1 .button {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: rgb(22, 22, 22);
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
    transition: 0.6s;
    border: none;
}

.column1 .button:hover {
    background-color: rgb(255, 72, 0);
    font-weight: bold;
    border: 0;
    transform:scale(1.1);
}

.NewArrivalsWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    align-items: center;
    margin-top: 400px;
}

.NewArrivalsContainer {
    display: flex;
    gap: 50px;
    margin-left: 50px;
    transition: transform 0.4s ease-in-out;
}

.Newcolumn {
    justify-items: center;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #222222;
}

.Newcolumn a{
    text-decoration: none;
    color: #222222;
}

.Newcolumn .price{
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    color: red;
}

.cartButton {
    position: absolute;
    top: 25%;
    left: 26%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 150px;
    height: 150px;
    background-color: #d8d8d8a1;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.Newcolumn:hover .cartButton {
    opacity: 1;
}

.promotion:hover .cartButton {
    opacity: 1;
}

.Jersey:hover .cartButton {
    opacity: 1;
}

.Newcolumn img {
    width: 350px;
    height: 320px;
}

.product-name {
    height: 50px; 
}

.Newcolumn .button {
    width: 100px;
    height: 40px;
    top: -58px;
    left: -100px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    padding: 5px;
    font-weight: bold;
    position: relative;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s;
}

.Newcolumn .button:hover {
    background-color: rgba(128, 128, 128, 0.76);
}


.fa-arrow-left {
    background-color: black;
    width: 40px;
    height: 36px;
    padding: 10px;
    top: 40%;
    color: white;
    position: absolute;
    text-align: center;
    left: 40px;
    z-index: 10;
}

.fa-arrow-left:hover {
    transform: scale(1.2);
}

.fa-arrow-right {
    background-color: black;
    width: 40px;
    height: 36px;
    padding: 10px;
    top: 40%;
    color: white;
    position: absolute;
    text-align: center;
    right: 50px;
}

.fa-arrow-right:hover {
    transform: scale(1.2);
}

.title {
    position: relative;
    justify-items: center;
    top: 340px;
    margin-left: 80px;
}

.title h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-bottom: 10px;
    text-shadow: 5px 7px 3px#c9c9c9;
}

.title p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.sub-billboard {
    position: relative;
    width: 100%;
    height: 560px;
    top: 80px;
    z-index: 1;
    text-align: end;
}

.sub-billboard img {
    width: 100%;
    height: 100%;
}

.sub-billboard .button {
    width: 200px;
    height: 60px;
    top: -90px;
    right: 20px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    padding: 5px;
    font-weight: bold;
    position: relative;
    font-size: 15px;
    transition: 0.3s;
}


.sub-billboard .button:hover {
    background-color: #333;
}


.promotionWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    align-items: center;
    margin-top: 190px;
}

.PromotionContainer {
    display: flex;
    gap: 100px;
    margin-left: 50px;
    transition: transform 0.4s ease-in-out;
}

.promotion {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: #222222;
}

.promotion a{
    text-decoration: none;
    color: #222222;
}

.promotion img {
    width: 350px;
    height: 320px;
}

.promotion .price{
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.promotion .discount {
    background-color: rgb(255, 0, 0);
    position: relative;
    width: 100px;
    height: 30px;
    padding: 5px 5px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-bottom: -35px;
}

.promotion .button {
    width: 100px;
    height: 40px;
    top: -58px;
    right: -10px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    padding: 5px;
    font-weight: bold;
    position: relative;
    font-size: 15px;
}

.promotion .button:hover {
    background-color: rgba(128, 128, 128, 0.76);
}

.promotionPrice {
    margin-right: 60px;
    color: rgb(255, 0, 0);
}

.discountPrice {
    text-decoration: line-through;
    color: gray;
}

.jerseyheader {
    margin-bottom: -50px;
    text-align: end;
}


.jerseyheader img {
    width: 100%;
    height: 450px;
}

.columnJersey {
    position: relative;
    margin-top: 5%;
    overflow: hidden;
    align-items: center;
}

.JerseyContainer {
    display: flex;
    gap: 50px;
    margin-left: 50px;
    transition: transform 0.4s ease-in-out;
}

.Jersey a{
    text-decoration: none;
    color: #222222;
}

.Jersey img {
    width: 350px;
    height: 320px;
}

.Jersey .price{
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    color: red;
}

.Jersey {
    text-align: center;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: #222222;
}

.jerseyname {
    font-weight: bold;
}

.footballAndGym {
    margin-top: 100px;
    position: relative;
    display: flex;
    margin-bottom: -43px;
}

.picture .button {
    width: 150px;
    height: 40px;
    top: -58px;
    right: -20px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.603);
    color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: bold;
    position: relative;
    font-size: 15px;
    transition: 0.3s;
}

.picture .button:hover {
    background-color: #8f8f8f;
}

.picture {
    flex: 1;
}

.picture img {
    width: 100%;
    height: 500px;
}

.jerseyheader .button {
    width: 200px;
    height: 40px;
    top: -58px;
    left: -10px;
    border: 0;
    background-color: rgba(8, 8, 8, 0.582);
    color: white;
    padding: 5px;
    font-weight: bold;
    position: relative;
    font-size: 15px;
    transition: 0.3s;
}

.jerseyheader .button:hover {
    background-color: rgba(128, 128, 128, 0.637);
}

.brandWrapper {
    margin-top: 150px;
}

.brandWrapper h2 {
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}

.brandContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    background-color: #ffffff;
    margin-top: 60px;
}

.brand img {
    width: 250px;
    height: 230px;
    margin: 10px;
    transition: 0.6s;
}

.brand img:hover {
    transform: scale(1.1);
    box-shadow: 20px 10px 5px rgba(0, 0, 0, 0.2);
}

.usWrapper {
    margin-top: 200px;
    text-align: center;
}

.usWrapper h3 {
    background-color: transparent;
    color: #333;
    padding: 10px;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-top: 130px;
}

.usWrapper h3::after {
    content: "";
    display: block;
    width: 50%;
    height: 4px;
    background: #ff5e00;
    margin: 5px auto 0;
    border-radius: 2px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    background: linear-gradient(to right, #ff8800, #ff5500);
    padding: 40px 10px;
    flex-wrap: wrap;
    gap: 30px;
}

.container div {
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container div:hover {
    transform: scale(1.05);
}

.container img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.container p {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.informContainer {
    position: relative;
    margin-top: 10%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

.informContainer img {
    width: 420px;
    height: 420px;
}

.informContainer h3 {
    text-decoration: underline;
    margin-top: 10px;
}

.informContainer p {
    width: 420px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.informContainer a {
    text-decoration: none;
    font-weight: bold;
}

.star {
    color: lightgray;
}
.star.filled {
    color: gold;
}
