* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #333;
}

header {
    position: fixed;
    width: 100%;
    padding: 9px 1%;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    height: 60px;
    width: 250px;
}

.subtitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.subTitle ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 5px;
    font-size: 16px;
}

.subTitle li {
    margin: 15px;
    color: white;
    font-style: italic;
    font-weight: bold;
    transition: 0.3s;
}

.subTitle li a {
    text-decoration: none;
    color: inherit;
}

.subTitle li:hover {
    color: orangered;
    transform: scale(1.2);
}

#promotion {
    color: red;
}

#promotion:hover {
    color: orange;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
    font-size: 16px;
}

.fa-search {
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.fa-search:hover {
    color: orangered;
}

.fa-user {
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.fa-user:hover {
    color: orangered;
}

.fa-cart-shopping {
    color: white;
    font-size: 16px;
    margin-right: 10px;
    transition: 0.3s;
}


.shoppingCart {
    position: relative;
    display: inlineblock;
}

.fa-cart-shopping:hover {
    color: orangered;
}

#cartCount {
    position: absolute;
    top: -12px;
    right: -3px;
    color: white;
    background-color: red;
    border: 0;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
    padding: 1px 6px;
}

.dropdown {
    position: relative;
}

.dropdownmenu {
    position: absolute;
    top: 100%;
    left: -400px;
    width: 900px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.category {
    flex: 1;
    min-width: 150px;
}

.category h3 {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 8px;
    margin-bottom: 12px;
}

.category a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    padding: 4px;
    display: block;
    transition: 0.3s;
}

.category a:hover {
    color: rgb(255, 51, 0);
}

.dropdown:hover .dropdownmenu {
    opacity: 1;
    visibility: visible;
}
footer {
    background-color: #222;
    width: 100%;
    height: 450px;
}

.footerMenu {
    display: flex;
    gap: 200px;
    padding: 30px 0px 0px 20px;
    font-size: 14px;
    justify-content: center;
}

.footerMenu h3 {
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 94, 0);
}

.footerCategories a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.footerCategories a:hover {
    color: rgb(255, 123, 0);
}

.contactUsWrapper form {
    margin-top: 20px;
    text-align: center;
}

.contactUsWrapper input {
    display: block;
    width: 400px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}

.contactUsWrapper button {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: rgba(255, 68, 0, 0.829);
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

.contactUsWrapper button:hover {
    background-color: rgba(253, 116, 66, 0.829);
}

.contactUs ul {
    list-style: none;
    margin-top: 20px;
}

.contactUs li {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}

.contactUs a,
i {
    color: white;
    text-decoration: none;
    margin: 1px;
}

.fa-facebook {
    color: #0702ff;
    font-size: 30px;
    transition: 0.3s;
}

.fa-instagram {
    color: rgb(255, 0, 85);
    font-size: 30px;
    transition: 0.3s;
}

.fa-twitter {
    color: rgb(3, 158, 255);
    font-size: 30px;
    transition: 0.3s;
}

.contactUs i:hover {
    transform: scale(1.2);
}
