footer {
    background-color: #222;
    width: 100%;
    height: 450px;
}

.footerMenu {
    display: flex;
    gap: 200px;
    padding: 30px 0px 0px 20px;
    font-size: 14px;
    justify-content: center;
}

.footerMenu h3 {
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 94, 0);
}

.footerCategories a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.footerCategories a:hover {
    color: rgb(255, 123, 0);
}

.contactUsWrapper form {
    margin-top: 20px;
    text-align: center;
}

.contactUsWrapper input {
    display: block;
    width: 400px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}

.contactUsWrapper button {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: rgba(255, 68, 0, 0.829);
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

.contactUsWrapper button:hover {
    background-color: rgba(253, 116, 66, 0.829);
}

.contactUs ul {
    list-style: none;
    margin-top: 20px;
}

.contactUs li {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
}

.contactUs a,
i {
    color: white;
    text-decoration: none;
    margin: 1px;
}

.fa-facebook {
    color: #0702ff;
    font-size: 30px;
    transition: 0.3s;
}

.fa-instagram {
    color: rgb(255, 0, 85);
    font-size: 30px;
    transition: 0.3s;
}

.fa-twitter {
    color: rgb(3, 158, 255);
    font-size: 30px;
    transition: 0.3s;
}

.contactUs i:hover {
    transform: scale(1.2);
}