header{
    position: fixed;
    width: 100%;
    padding: 15px 2%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    height: 60px;
    width: 250px;
    border-radius: 10px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1{
    color: white;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
}